.dropbtn{
    cursor: pointer;
}

/*.dropbtn:hover{
    
}*/

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.table{
    position: relative;
    display: inline-block;
}

.users-table{
    position: absolute;
}

.hide{
    display: none;
}

.show{
    display: block;
}